@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
    display: none;
    margin: 0%;
    /* background-image: url("https://cdn.discordapp.com/attachments/815111255694114826/839944603091599400/unknown.png");
    background-repeat: no-repeat;
    background-size: 100%; */
    font-family: 'Heebo', sans-serif;
    color: white;
    user-select: none;
    font-weight: 600;
}

.shadow {
    position: fixed;
    box-shadow:100px 100px 800px 200px rgba(0, 0, 0, 0.8) inset; 
    width: 100%;
    height: 100%;
}

.location {
    z-index: 999;
    position: absolute;
    left: 5%;
    bottom: 10%;
}

.location .name {
    font-size: 2.5vh;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.location .hr {
    margin: 1vh 0vh 1vh 0vh;
    filter: blur(0.1vh);
    -webkit-filter: blur(0.1vh);
    background-color: RGBA(0,0,0, 0.3);
    width: 50vh;
    padding: 0.3vh 0.2vh 0.3vh 0.2vh;
    border-radius: 1vh;
}

.location .spawn {
    font-size: 1.40vh;
    text-align: right;
    float: right;
    padding: 1vh 5vh 1vh 5vh;
    background-color: rgba(70, 216, 29, 0.8);
    border-radius: 3vh;
    color: rgb(255, 255, 255);
    transition: color 200ms;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.location .spawn:hover {
    color: rgba(0, 0, 0, 1);
}

.location .lastloc {
    font-size: 1.30vh;
    text-align: right;
    float: left;
    padding: 1vh 5vh 1vh 5vh;
    background-color: rgba(70, 216, 29, 0.8);
    border-radius: 3vh;
    color: rgb(255, 255, 255);
    transition: color 200ms;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.location .lastloc:hover {
    color: rgba(0, 0, 0, 1);
}

.buttons {
    z-index: 999;
    position: absolute;
    right: 5%;
    bottom: 10%;
    display: flex;
}

.buttons .button {
    position: relative;
    background-color: RGBA(53,49,53, 0.7);
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-right: 1vh;
    transition: all 100ms;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.buttons .button i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.buttons .button:hover {
    background-color: rgba(76, 208, 0, 1);
}

